.brand-gradient{
    background: #28ade6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #28ade6, #30df6d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #28ade6, #30df6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.banner-holder, .main-page-header{
    background-image: url(img/banner2.jpg);
    background-size: cover;
    background-position: bottom;
}

.custom-nav{
    backdrop-filter: blur(8px);
}